.box{
    border: 1px solid skyblue;
    width: 50vw;
    height: 90vh;
    color: rgb(21, 216, 135);
    position: relative;

}
h1, h2{
    text-align: center;
}
p{
    position: absolute;
    top: 84%;
    left: 50%;
    font-size: 28px;
    font-weight: bolder;
    transform: translate(-50%,-50%);
}
.item-img{
    max-width: 27vw;
    max-height: 38vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main{
    display: flex;
    justify-content: center;
}
.win{
    border: 8px solid green;  color: green; 
}
.tie{
    border: 8px solid black;  color: black; 
}